.row.content {display: flex;}
.sidenav {
    background-color: #36b3b3da;
    height: 100%;
  }

header {
    margin-top: 0;
    background-color: rgb(66, 123, 128);
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
  }
@media screen and (max-width: 767px) {
.sidenav  {
    height: auto;
    padding: 10px;
}
.row.content {height: auto;} 
}

.sidenav-header{
    padding: 6px;
    background: #36b3b3da;
    text-align: center;
    text-decoration: solid;
}

.slidercontainer{
    background-color: #fff;
    width: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    /* padding: 60px 20px;  */
}
@media (min-width: 600px) {
    body {
        /* padding: 60px; */
        padding: 60px;
   }
}

label {
    width: 100px;
    display: inline-block;
}
.range-slider {
    margin: 5px 0 40px 0;
    width: 100%
    
    /* margin: 60px 0 0 0%; */
}
/* .range-slider {
    width: 25%;
} */
.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    /* background: #d7dcdf; */
    outline: none;
    opacity: 0.7;
    padding: 0;
    margin: 0;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: #2c3e50; */
    background: #0596af;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}
/* .range-slider__range::-webkit-slider-thumb:hover { */
.range-slider__range:hover {     
    /* background: #1abc9c; */
    background: #2c3e50;;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #2c3e50;;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #2c3e50;
}
.range-slider__range:active::-moz-range-thumb {
    background: #2c3e50;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #2c3e50;;
}
.range-slider__value {
    display: inline-block;
    position: absolute;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 10px;
}
.range-slider__value:after {
    position: absolute;
    top: 6px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    /* border-right: 7px solid #0596af; */
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}
