<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <title>{% block title %}{% endblock %} - Dependency Miner</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="{{ url_for('static', path='/css/home.css')}}" rel="stylesheet">
      <style>
      {% block style %}{% endblock %} </style>
      {% block head %}{% endblock %}
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <scri src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav" id="sidebar">
                    <div class="sidebar-header">
                        <h2>Long-Term Dependency Miner</h2>
                    </div>
                  <div>
                    <a class = "active" href="/">Event Log</a>
                    <a href="/processtree">Process Tree</a>
                    <a href="/petrinet">Petri Net</a>
                  </div>
                </div> 
                <div class="col-sm-9 main" id="content">
                  {% block content %}{% endblock content %}
                </div>
                </div>
        </div>
        {% block script %} {% endblock script %}
    </body>
</html>